@import './variables';

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-dark-grey;
  min-height: 100vh;
  font-family: 'Quicksand';
  letter-spacing: $ls-default;
  font-weight: $fw-default;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
