// colors
$bg-dark-grey: #353638;
$bg-grey: #696969;
$primary: #fff;
$primary-dark: #9e9e9e;

// breakpoints
$bp-phone: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

// spaces and gaps
$gap-column: 50px;
$gap-row: 45px;

// text
$fs-default: 22px;
$lh-default: 1;
$fw-default: 400;
$ls-default: 0.2em;
