// colors
$bg-dark-grey: #050606;
$primary: #00c887;
$primary-dark: #858090;

// breakpoints
$bp-phone: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

// spaces and gaps
$gap-column: 50px;
$gap-row: 45px;

// text
$fs-default: 22px;
$lh-default: 1;
$fw-default: 400;
$ls-default: 0.2em;
